
body {
	
	margin:0px; padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	color:#7f7d78;
	font-size:13px;
	line-height:19px;
}


#main{
	width:100%;

	}
	
.contenedor{
width:100%;
margin: 0 auto;
position:relative;
}


	
/*CABECERA*/
#cont_list_men_top{
	height:45px;
	width:1000px;
	margin:0 auto;
}

#con_menu_top{/*Contenedor del menu top*/
	height:45px;
	background-color:#424242;
}

#list_men_top{
	margin:0px;
	padding-top:12px;
	float:right;
	
}


ul#list_men_top li {
	
	display:inline;
	margin-left:5px;
	padding-top:5px;
	padding-left:10px;
	padding-bottom:5px;/**/
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFF;
	/*	background-image:url(../img/icons.png);
	background-repeat:no-repeat;*/
	text-decoration:none;
	
}

ul#list_men_top li#serpa{
	font-family: Arial, Helvetica, sans-serif;
	background:none;
	margin-left:2px;
	margin-right:2px;
	background-image:url(../img/stick.png);
	background-position:center;
	background-repeat:no-repeat;
	
}
/*Formato de enlaces superior con los padding*/
ul#list_men_top li a {
	text-decoration:none;
	color:#FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	padding-top: 8px;
  	padding-right: 5px;
  	padding-bottom: 8px;
	padding-left: 35px;
	background-image:url(../img/icons.png);
	background-repeat:no-repeat;
	text-align:center;
	
	/*font-weight:bold;*/
	/*text-transform:uppercase;*/
}



ul#list_men_top li a:hover {
	
	font-size:14px;
	background-color:#007DD9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior: url(PIE.htc);
	
}

/*Prueba de borde radius para IE*/
.bor{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width:120px;
	background-color:#000;
	behavior: url(PIE.htc);
	}
	
/*ul#list_men_top li a.active, ul#list_men_top li a:hover {
	color:#FFF;
	background-color:#007DD9;
	text-decoration:none;
}
*/


/*Sprite para los iconos del menu top*/
.sprite-fb{ background-position: 8px 4px; width: 24px; height: 24px; } 
.sprite-registro{ background-position: 4px -70px; width: 24px; height: 24px; } 
.sprite-sesion{ background-position: 4px -145px; width: 24px; height: 24px; } 
.sprite-twi{ background-position: 7px -218px; width: 24px; height: 24px; } 
/* Fin Sprite para los iconos del menu top*/
	

/*INICIO HEAD*/
#cont_head{
	margin:0 auto;
	height:165px;
	/*background-color:#999;*/
	width:100%;
	}
	
#cont_logo_form{
	margin: 0 auto;
	width:1000px;
	height:165px;
	/*background-color:#CCC;*/
		
	}

#logo_y_form{
	margin: auto 0; 
	background-color:#FFF;
	height:99px;
	width:480px;
	padding-left:20px;
	padding-top:23px;
	float:left;
	}
	
#form_sesion{
	float:left;
	height:93px;
	width:500px;
	/*background-color:#09F;*/
		
	}
	
#cont_barra_sesion{
	-webkit-border-radius: 5px;
	border-radius: 5px; 
	background-color:#007DD9;
	height:42px;
	width:477px;
	
	}

#cont_from_sesion{
	padding:10px;
	float:left;
	width:100%;
	}
	
#cont_from_sesion span{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:22px;
	}
	
	
	
#cont_campos{
	background-color:#FFF;
	-webkit-border-radius: 3px;
	border-radius: 3px; 
	float:left;
	color:#666;
	font-size:12px;
	margin-left:10px;
	padding-left:10px;
	height:23px;
	
}

#cont_campos ul{
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	padding-top:2px;
	}

#cont_campos li{
	display:inline;

	}
	
.camp_stilo{
	border:0;
	font-size:12px;
	height:14px;
	outline:0px;
	}
	
	
/*	INICIO MENU*/

#cont_menu_prin{
	margin: 0 auto;
	clear:both;
	height:37px;
	margin-top:20px;
	background-color:#007DD9;
	border-bottom-style:solid;
	border-bottom-color:#000;
	border-bottom-width:7px;
	
	
	}

#inicio_link{
	background-color:#000;
	background-image:url(../img/home.png);
	background-repeat:no-repeat;
	background-position: 12px 10px;
	float:left;
	height:37px;
	width:50px;
}


#inicio_link ul li{
	margin:0;
	list-style:none;
	display:inline block;
	}
	
#inicio_link ul li a{
	margin-left:-40px;
	padding-left:14px;
	padding-right:36px;
	padding-bottom:12px;
	padding-top:14px;
	
	/*background-color:#39C;*/
	}

/*MENU PRINCIPAL*/
.menu_principal {
	/*background-color:#069;*/
	height:37px;
	text-align:center;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFF;
	
}



.menu_principal ul{
	padding-top:9px;

}

.menu_principal ul li{
	list-style:none;
	display:inline;
	
	
}

.menu_principal ul li a{
	text-decoration:none;
	color:#FFF;
	padding:11px;
	
}

.menu_principal ul li a:hover{
	 background-color:#000; 
	 
}	
/*Coloca flecah a los enlaces con sub-menu*/
.menu_principal .link_con_flecha a{
	 background-image:url(../img/flecha_down.png);
	 background-position:right;
	 background-repeat:no-repeat;
	 background-position: 93%;
	 padding-right:24px;
	}

/*Coloca flecah a los enlaces con sub-nu cunado pasa el puntero del raton y cambia el fondo a negro*/
.menu_principal .flecha a:hover{
	 background-color:#000; 
	 background-image:url(../img/flecha_down.png);
	 background-position:right;
	 background-repeat:no-repeat;
	 background-position: 93% 62%;
	 
	}

/*DEL OTRO INICIO HEAD
#mi_head{
	
	height:157px;
	background-image:url(../img/back_head.jpg);
	background-position:center;
	background-repeat:no-repeat;

	
}

#logo h1, #logo small {
	margin:0px;
	display:block;
	text-indent:-9999px;
}

#logo{
	top:50px;
	position:absolute;
	background-image:url(../img/logo.jpg);
	background-position:top;
	background-repeat:no-repeat;
	height:132px;
	width:165px;
	left:178px;
	}

#contiene_menu{

width:100%;


}




#el_menu{

	margin:0 auto 0 auto;	
	width:950px;
	
	
	}
	
.gradient_b_menu{
background-image:url(../img/barra_doble_menu_back.png);
background-repeat:repeat-x;
height:46px;
margin-top:115px;
width:100%;
position:absolute;


}

	
#el_menu ul{
list-style-type: none;
margin: 0 auto;
padding: 0;
text-align: center;
}
	

#navi {  

	list-style:none;
	margin:0;
	padding:0;

}



#navi li {
	display:inline-block;
	display: -moz-inline;
	margin-left:13px;
	padding:0; 
	float:none;
}

#navi li a {

	display:inline-block; 
	width:121px;
	height:12px;
	padding:12px 0;
	text-decoration:none;
	text-align:center;
	font-size:11px;
	color:#000;
	background-image:url(../img/botones_menu.png);
	background-repeat:no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;

}



#navi li a:hover {
	background-position:bottom;
	color:#FFF;
	
}

#navi li a:focus {
	background-position:bottom;
	color:#FFF;
	
}

#gradient_foot_head{
	background-image:url(../img/barra_amarilla.png);
	background-repeat:repeat-x;
	height:27px;
	}

#contiene_slider{

	/*padding-top:25px;
	padding-left:25px;
	padding-right:25px;
	padding-bottom:55px;*/
	width:100%;
	margin:0 auto;



}

#fotos_slider{
	width:950px;
	height:300px;
	margin:0 auto;
	/*background-color:#000;*/
	}
	
#menu_navi{
	float:left;
	/*background-color:#999;*/
	height:12px;
	width:100%;
	
	}
	

	
	
#back_menu_navi{
	background-image:url(../img/menu_nav.png);
	background-repeat:no-repeat;
	background-position:right;
	margin-top:-36px;
	height:51px;
	width:140px;
	position:absolute;
	padding-left:700px;
	
	}
	

	
#cont_bot_nav{
	/*background-color:#09F;*/
	margin-left:0px;
	padding-left:0px;

	}

#cont_bot_nav ul{
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
#cont_bot_nav li{
	
	display:inline-block;
	padding-left:7px;
	margin-left:4px;
	margin-top:19px;
	width:15px;
	height:15px;
	background-image:url(../img/bot_nav_sprite.png);
	background-repeat:no-repeat;
	
	
	}

.elemento1{
	float:left;
	width:150px;
	position:absolute;
}

#slider_navi{
	margin:0 auto;
	width:950px;
	background-image:url(../img/back_slider_navi.png);
	background-repeat:repeat-x;
	height:12px;
	/*position:absolute;*/
	/*margin-left:205px;*/
}
	
	
#medio{

	margin:0 auto;
	padding-left:30px;
	padding-right:30px;
	/*margin-top:12px;*/
	padding-top:50px;
	width:890px;
	background-color:#EDEDED;
	height:450px;

	}

h1{
	font-size:18px;
	font-weight:bold;
}

.cont_titulos{
	background-image:url(../img/divisord.png);
	background-repeat:no-repeat;
	background-position:right;
	width:250px;
	height:50px;
	padding-top:8px;
	vertical-align:middle;
}

.text_amarillo{
font-family:Arial, Helvetica, sans-serif;
color:#E5B229;
}



.zq{
float:left;
width:450px;

}
.der{
float:left;
}


.parrafod{
	text-align:justify;
	width:420px;
	background-color:#FFF;
	height:150px;
	padding:8px;
	word-wrap: break-word;
	}




/*ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}



*/





/*-------------------------------------*/


#top_registro{
/* background-image:url(../img/barra_amarilla.png);*/
 background-repeat:repeat-x;
 height:180px;
 width:100%;
	}
	
#icon_head_reg{
	padding-left:38px;
	padding-top:10px;
	height: 70px;
	width:120px;
	float:left;
	}
	
#titulo{
	width:120px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#69676A;
	text-transform:uppercase;
	padding-top:3px;

	}

#registro{
	background-color:#FFF;
	/*height:900px;*/
	/*border: 1px solid #666;*/
	}


#elementos{
		border:1px solid #999;
		padding-bottom:50px;
	}


#selectores{
height:58px;
clear:both;	
padding-top:26px;
padding-left:38px;
}

.steps_activ{
	width:224px;
	height:58px;
	padding-right:62px;
	float:left;
	background-image:url(../img/registro/step.png);
	background-repeat:no-repeat;
	background-repeat:no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFF;
	font-weight:bold;
	}
	

.steps_inactiv{
	width:224px;
	height:58px;
	padding-right:62px;
	float:left;
	background-image:url(../img/registro/step_inac.png);
	background-repeat:no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333;
	font-weight:bold;
	text-shadow: 0.5px 0.5px #999;
	
	}
	
.titulo_step{
	padding-top:20px;
	padding-left:45px;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#999999', Strength=0.5);
	
}

#formu_reg{
	padding-top:90px;
	padding-left:38px;
	padding-right:38px;

	}

.contiene_item{
	padding-bottom:32px;
	height:37px;
	clear:both;
	}

.esquina{
	background-image:url(../img/registro/esquina.png);
	background-repeat:no-repeat;
	background-position:left;
	width:5px;
	height:37px;
	float:left;
}

.tag_item_back{
	background-image:url(../img/registro/back_tag_item.png);
	background-repeat:repeat-x;
	width:200px;
	height:37px;
	float:left;
	}

.tag_item{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
	padding-top:10px;	
	padding-left:30px;
}

	
.el_item{
	float:left;
	height:28px;
	background-color:#FFF;
	border-bottom:1px solid #A5A5A5;
	border-top:1px solid #A5A5A5;
	vertical-align:middle;
	padding-top:7px;
	padding-left:10px;
	} 
	

		
.esquina_item{
	float:left;
	height:37px;
	width:5px;
	background-image:url(../img/registro/esquina_item.png);
	background-position:right;
	}

.el_item input, select, textarea{
	border:0;
	width:500px;
	} 
	

#contiene_pie_reg{
	background-image:url(../img/registro/gradient_reg_pie.png);
	background-repeat:repeat-x;
	height:72px;
	}

#esq_izq{
	background-image:url(../img/registro/esq_inf.png);
	background-repeat:no-repeat;
	background-position:bottom;
	height:72px;
	width:9px;
	float:left;
	}
	
.medio_foot{
	
	float:left;
	height:72px;
	width:932px;
	
}	

#esq_der{
	background-image:url(../img/registro/esq_inf_der.png);
	background-repeat:no-repeat;
	background-position:bottom;
	height:72px;
	width:9px;
	float:left;
	}

.requerido{
font-family:Arial, Helvetica, sans-serif;
color:#FFF;
font-size:14px;
padding-left:25px;
padding-top:25px;
width:150px;
float:left;
}
.bot_sig{
	border:0px;
	padding-top:13px;
	float:left;
	padding-left:450px;
	}
	
.bot_sig button{
	border:0px;
	background:none;
	}
	


/*INICIO PIE*/
#main_foot{
	height:248px;
	background-image:url(../img/foot_backgroud.png);
	background-repeat:no-repeat;
	background-position:top;
	
	}

#pie{
	background-image:url(../img/Gradient_Foot.png);
	background-repeat:repeat-x;
	height:248px;
	
}

#sombra_pie{
	background-image:url(../img/sombra_foot.png);
	background-repeat:no-repeat;
	background-position:top;
	height:15px;
	}

#contenido_pie{
	padding:10px;
	margin:0 auto;
	width:940px;
}

#social_net{
	float:left;
	height:190px;
	width:180px;
	/*background-color:#999;*/
	padding:8px;
	}

#separador_left{
	background-image:url(../img/foot_separador_izq.png);
	background-position:left;
	background-repeat:no-repeat;
	float:left;
	height:190px;
	width:12px;
	padding:8px;
	}
#panel_ultimos_t{
	float:left;
	height:190px;
	width:476px;
	/*background-color:#999;*/
	padding:8px;
	}
#separador_right{
	background-image:url(../img/foot_separador_der.png);
	background-position:right;
	background-repeat:no-repeat;
	float:left;
	height:190px;
	width:12px;
	padding:8px;
	}	
	
.panel_link_foot{
	float:right;
	height:190px;
	width:180px;
	padding:8px;
	}
	
ul#link_foot_lista li {
	list-style:none;
	margin-left:-28px;
	padding-left:11px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
	background-image:url(../img/li_icon_square.png);
	background-position:left;
	background-repeat:no-repeat;
}

.bot_red_s{
	float:left;
	padding:20px;
	}

.panel_media_cont h2, .panel_link_foot h2, #panel_ultimos_t h2{
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	color:#FFF;
	}
	
.destello{
	background-image:url(../img/destello_lateral.png);
	background-repeat:no-repeat;
	background-position:bottom;
	height:2px;
	}
	
.destello_c{
	background-image:url(../img/destello_medio.png);
	background-repeat:no-repeat;
	background-position:bottom;
	height:2px;
	}
*/