@charset "utf-8";
/* CSS Document */



.menu_principal ul{
	padding-top:9px;

}

.menu_principal ul li{
	list-style:none;
	display:inline;
	
}

.menu_principal ul li a{
	text-decoration:none;
	color:#FFF;
	padding:11px;
	
}

.menu_principal ul li a:hover{
	 background-color:#000; 
}	
/*Coloca flecah a los enlaces con sub-menu*/
.menu_principal .link_con_flecha a{
	 background-image:url(img/flecha_down.png);
	 background-position:right;
	 background-repeat:no-repeat;
	 background-position: 93%;
	 padding-right:24px;
	}

/*Coloca flecah a los enlaces con sub-nu cunado pasa el puntero del raton y cambia el fondo a negro*/
.menu_principal .flecha a:hover{
	 background-color:#000; 
	 background-image:url(img/flecha_down.png);
	 background-position:right;
	 background-repeat:no-repeat;
	 background-position: 93% 62%;
	 
	}


